<div class="main-inner" >
        <main data-barba="container" data-barba-namespace="about">
            <div class="container" >
                
            </div>
            <div class="about container">
                <div class="about-inner">
                    <!--inicio-->
                             <div class="about-hello scroll-section" id="hello">
                                <div class="about-hello__title">
                                     <h1  style="font-family: 'poppins',sans-serif;color:black;font-size: 8.2rem !important;font-weight: 600;">Nos atrevemos.</h1>
                                    <h1  style="background: #000; color:#0091ff!important; max-width: 500px; font-family: 'poppins',sans-serif;font-size: 8.2rem !important;font-weight: 600;">Pensamos.</h1>
                                    <h1 style="font-family: 'poppins',sans-serif;color:black;font-size: 8.2rem !important;font-weight: 600;">Hacemos.</h1>
                                </div>
                                <div class="about-inner__row" style="width: 200%;">
                                    <div class="about-hello__copy about-inner__col--sm">
                                         <p style="    max-width: 352px; color:black;">Nos apasiona trabajar con quienes definen <br> lo creen y sueñan en grande.
                                        </p>
                                    </div>
                                    
                                    
                                </div>
                                <div class="col-lg-12 col-md-12" style="    padding-top: 15%;">
                                    <img src="assets/assetssimplicity/img/flecha.png">
                                </div>
                            </div>
                            <div class="about-hello scroll-section" id="hello" style="padding-top: 5%; padding-bottom: 5%;">
                                <div class="col-lg-12 col-md-12">
                                    <img src="assets/assetssimplicity/img/asisomos/matias-cartajena-editorial.webp" style="display: flex; height: auto; max-width: 100%;">
                                </div>
                            </div>
                            
                            <!--que he aprendido-->
                           <div class="about-mission about-inner__row scroll-section" id="mission" style="    justify-content: space-around;">
                                <div class="about-inner__col--sm">
                                    <h4 style="font-size: 40px;">Qué he<br> aprendido<br> en estos 10<br> años</h4>
                                    <p>Matías Cartajena</p>
                                    <p style="    color: #0092FF;">Socio Fundador & CEO</p>
                                </div>
                                <div class="about-inner__col--lg">
                                    <div class="page" title="Page 1">
                                        <div class="section">
                                            <div class="layoutArea">
                                                <div class="column">
                                                    <div class="page" title="Page 1">
                                                        <div class="section">
                                                            <div class="layoutArea">
                                                                <div class="column">
                                                                    <p style="text-align: justify;color:black;">Nunca me ha gustado esto de escribir públicamente ni menos en primera persona. Soy de la escuela que los asesores no tienen que existir. El cliente es lo importante, no uno. Pero Simplicity cumple 10 años y me dieron ganas de romper la regla. (Hasta acá se ve, luego hay que apretar ver más o similar para seguir leyendo) <br>Acá van las respuestas al título y casualmente son 10</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layoutArea">
                                                <div class="show-in-mob no-transition-menu-item home-copy__btn-wrap">
                                                <a class="btn" href=""
                                                   data-class="is-first" style="color: #fff; background-color:#0092ff;">Ver mas</a>
                                            </div>
                                            <div class="hide-in-mob home-copy__btn-wrap" style="    justify-content: center; padding-left: 27%;">

                                                <a class="btn" href=""
                                                   data-class="is-first" style="color: #fff; background-color:#0092ff;">Ver mas</a>
                                            </div>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                           </div>
                                <!--porque queremos ser los mejores-->
                            <div class="services" style="background-color:#000;">

                                <div class="services-item scroll-section is-active" id="brand-launch">
                                        <div class="services-item__title" style="width: 100%; max-width: 100%; padding-bottom: 5%;">
                                            <h2 style="font-size: 7rem;">Porque queremos <br>
                                            no solo ser la mejor
                                            empresa del mundo,
                                            sino para el mundo.</h2>
                                        </div>
                                    <div class="services-item__inner">
                                            <div class="services-item__content" style="width: 100%; max-width: 100%;padding-right: 0px;    margin-bottom: 0;">         
                                                 <div class="services-item__content-row" >
                                                            <div class="services-item__content-title">
                                                                <h5>somos la primera empresa Chilena de comunicaciones certificada como «Empresa B» y econocida internacionalmente en las categorías «Best for Governance» y Changemakers.</h5>
                                                            </div>

                                                            <div class="services-item__content-info"> 
                                                             
                                                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uxqeJD2Jb_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                  
                                                             </div>
                                                 </div>                                       
                                                  <!--  <img src="assets/assetssimplicity/img/asisomos/b_logo.webp" style="max-width:10%;">
                                                   </img> -->

                                            </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="about-inner__row" style="   justify-content: space-around;    padding-top: 15%;">
                                <div class="about-hello__copy about-inner__col--sm">
                                    <div class="about-hello__title">
                                         <h1 >¿Tienes <br>un nuevo <br> desafío?</h1>
                                       
                                    </div>
                                </div>
                                <div class="no-transition-menu-item home-copy__btn-wrap" style="    padding-top: 40px;">
                                    <a class="btn" href="" style="    background-color: #0092ff;color: #fff;font-weight: bold;"> Aquí estamos </a>
                                </div>
                            </div>
                            
                </div>
            </div>
        </main>
    </div>