<ul >
  <li>
    <!-- Using radio inputs means only one can be selected at a time-->
    <!-- The ID must be unique so the label will point to the input-->
    <input id="rad1" type="radio" name="rad" checked="checked"/>
    <label for="rad1" style="background-color: black;" >
      <div></div>
    </label>
    <div class="accslide" style="height: 100vh;background-color: black; overflow: hidden;">
      <div class="content">
       <div class="main-inner">
        <!-- <main data-barba="container" data-barba-namespace="home"> -->
        <main >
            <section class="home__page container">                
                <div class="home__copy">
                   <h1 class="heading-lg" style="font-family: 'poppins',sans-serif;color:#fff;font-size: 7.2rem !important;font-weight: 600;">
                    Disfrutamos hacernos <br>cargo, sin miedo, <br>de los desafios<br> comunicacionales <br> del futuro.</h1>
                    

                      <!--   <div class="show-in-mob no-transition-menu-item home-copy__btn-wrap">
                            <a class="btn" href=""
                               data-class="is-first" style="font-family: 'Roboto',sans-serif;color:black; !important;font-weight: 600;">Descubre Simplicity</a>
                        </div> -->
                        <div class="hide-in-mob home-copy__btn-wrap">

                            <a class="btn" href=""
                               data-class="is-first" style="font-family: 'Roboto Black', sans-serif;color:black;font-weight: 900;font-size: 2rem; padding:10px;">Descubre Simplicity</a>
                        </div>
                  </div>
              </section>
          </main>
      </div>
      </div>
    </div>
  </li>
  <li>
    <!-- Using radio inputs means only one can be selected at a time-->
    <!-- The ID must be unique so the label will point to the input-->
    <input id="rad2" type="radio" name="rad"/>
    <label for="rad2"  style="background-color:#0092ff;">
      <div>Asi somos</div>
    </label>
    <div class="accslide" style="height: 100vh;background-color: white;" >
      <div class="content">
        <app-asisomos></app-asisomos>
       
      </div>
    </div>
  </li>
  <li>
    <!-- Using radio inputs means only one can be selected at a time-->
    <!-- The ID must be unique so the label will point to the input-->
    <input id="rad3" type="radio" name="rad"/>
    <label for="rad3" style="background-color:#00c889;">
      <div>Esto hacemos</div>
    </label>
    <div class="accslide" style="height: 100vh;background-color: white; ">
      <div class="content">
        <app-estohacemos></app-estohacemos>
       
      </div>
    </div>
  </li>
  <li>
    <!-- Using radio inputs means only one can be selected at a time-->
    <!-- The ID must be unique so the label will point to the input-->
    <input id="rad4" type="radio" name="rad"/>
    <label for="rad4" style="background-color:#a03dff;">
      <div>Nos eligen</div>
    </label>
    <div class="accslide" style="height: 100vh;background-color: white; ">
      <div class="content">
         <app-noseligen></app-noseligen>
         
      </div>
    </div>
  </li>
  <li>   
    <input id="rad5" type="radio" name="rad"/>
    <label for="rad5"  style="background-color:#ff0434;">
      <div>Asi respondemos</div>
    </label>
    <div class="accslide">
      <div class="content">
        <app-asirespondemos></app-asirespondemos>
        
      </div>
    </div>
  </li>
  <li>   
    <input id="rad6" type="radio" name="rad"/>
    <label for="rad6" style="background-color:#ffc400;">
      <div>Tu equipo</div>
    </label>
    <div class="accslide">
      <div class="content">
         <app-tuequipo></app-tuequipo>
        
      </div>
    </div>
  </li>
  <li>   
    <input id="rad7" type="radio" name="rad"/>
    <label for="rad7" style="background-color:#ecf0f5;">
      <div><span style="color:black;">Aqui estamos</span> </div>
    </label>
    <div class="accslide">
      <div class="content">
         <app-aquiestamos></app-aquiestamos>
      </div>
    </div>
  </li>
</ul>